In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython-sql) (9.6.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting greenlet>=1 (from sqlalchemy>=2.0->ipython-sql)
  Using cached greenlet-3.2.4-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in f:\pydjango\jupyterlerndjango\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 762.0 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 838.9 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.0 MB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.2 MB/s eta 0:00:00
Using cached greenlet-3.2.4-cp312-cp312-win_amd64.whl (299 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql

   -------------------- ------------------- 3/6 [greenlet]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   -------------------------- ------------- 4/6 [sqlalchemy]
   ---------------------------------------- 6/6 [ipython-sql]

Successfully installed greenlet-3.2.4 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.44 sqlparse-0.5.3

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///example.bd

In [4]:
%sql SELECT * FROM your_table

 * sqlite:///example.bd
(sqlite3.OperationalError) no such table: your_table
[SQL: SELECT * FROM your_table]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

база данных (БД) — это организованный способ хранения и управления информацией

Реляционные базы данных (Relational Database Management Systems, RDBMS):

Хранят данные в связанных таблицах.
Используют структурированный язык запросов SQL для взаимодействия.
Примеры: PostgreSQL, MySQL, SQL Server, Oracle, DB2.
Преимущества: Высокая производительность для сложных запросов, надежность, поддержка ACID-свойств (Atomicity, Consistency, Isolation, Durability), большой выбор инструментов.
Недостатки: Более сложная структура данных, возможные проблемы при масштабировании, труднее хранить данные с сложной структурой.

Не реляционные базы данных (NoSQL databases):

Не используют строгую структуру таблиц, как RDBMS.
Предлагают гибкость в структуре данных и хранении данных, способные к масштабированию.
Виды NoSQL баз данных:
Документные базы данных: Хранят данные в формате JSON или XML, позволяя хранить сложные структуры данных. Примеры: MongoDB, CouchDB.
Ключ-значение базы данных: Хранят данные в виде пар «ключ-значение», идеальны для хранения большого количества данных. Примеры: Redis, Memcached.
Графовые базы данных: Представляют данные в виде узлов и ребер, позволяя эффективнее хранить и извлекать данные, связанные друг с другом. Примеры: Neo4j, Amazon Neptune.
Базы данных колонок: Данные хранятся в отдельных колонках, а не в строках, что подходит для анализа больших массивов данных. Примеры: Cassandra, Bigtable.
Преимущества: Гибкость, масштабируемость, высокая производительность для определенных типов запросов, удобны для работы с неструктурированными данными.
Недостатки: Не все запросы можно выполнить быстро, менее стандартизированные, часто не поддерживают ACID-свойства (но есть NoSQL базы данных, поддерживающие ACID), могут иметь трудности с сложной транзакционной логикой.

SQL — это стандартный язык для работы с реляционными базами данных. Он позволяет создавать, изменять, удалять и запрашивать данные в этих базах. SQL — это декларативный язык. Это означает, что вы описываете что вам нужно получить из базы данных, а не как это нужно сделать.

Строки (Rows) / Записи (Records): Каждая строка представляет собой отдельную запись данных. Например, в таблице “Пользователи” каждая строка может содержать информацию об одном пользователе.
Столбцы (Columns) / Поля (Fields): Каждый столбец представляет собой атрибут или характеристику данных. Например, в таблице “Пользователи” столбцы могут быть “ID”, “Имя”, “Фамилия”, “Email”.

Основные операции с таблицами:

Создание таблицы (CREATE TABLE): Позволяет создавать новые таблицы с определенными столбцами и типами данных.
Удаление таблицы (DROP TABLE): Удаляет существующую таблицу из базы данных.
Изменение таблицы (ALTER TABLE): Изменяет структуру таблицы (например, добавляет или удаляет столбцы).
Заполнение таблицы данными (INSERT INTO): Добавляет новые строки в таблицу.
Чтение данных из таблицы (SELECT): Запрашивает данные из таблицы.
Изменение данных в таблице (UPDATE): Изменяет существующие строки в таблице.
Удаление данных из таблицы (DELETE): Удаляет строки из таблицы.

Создание таблицы:

In [2]:
%%sql
CREATE TABLE users (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    email VARCHAR(255),
    birth_date DATE
);

UsageError: Cell magic `%%sql` not found.

CREATE TABLE users: Команда создает таблицу с именем users.
id INT PRIMARY KEY: Создается столбец id типа целого числа (INT), который является первичным ключом (PRIMARY KEY) (уникальным идентификатором для каждой строки).
name VARCHAR(255): Создается столбец name для хранения строк (максимальная длина 255 символов).
email VARCHAR(255): Создается столбец email для хранения электронных адресов.
birth_date DATE: Создается столбец birth_date для хранения дат.

Вставка данных:

In [ ]:
%%sql
INSERT INTO users (id, name, email, birth_date)
VALUES
    (1, 'Ivan Ivanov', 'ivan@example.com', '1978-05-15'),
    (1, 'Petr Petrov', 'petr@example.com', '1979-05-15'),

INSERT INTO users: Команда добавляет данные в таблицу users.
VALUES (...): Указываются значения, которые должны быть вставлены. Каждая группа значений в круглых скобках представляет новую строку.
Данные для каждого столбца должны соответствовать типу столбца.

Выборка данных:

In [ ]:
%%sql
SELECT id, name, email FROM users;

SELECT id, name, email: Команда выбирает столбцы id, name и email из таблицы users.
FROM users: Указывает, из какой таблицы нужно выбирать данные.
Эта команда вернёт все строки, но только столбцы id, name и email.

Выборка с условием:

In [ ]:
%%sql
SELECT * FROM users WHERE birth_date > '1990-01-01'

SELECT *: Команда выбирает все столбцы из таблицы users.
WHERE birth_date > '1990-01-01': Условие, которое фильтрует строки, выбирая только тех пользователей, чья дата рождения позже 1 января 1990 года.

Столбцы определяют структуру данных, а строки содержат фактические значения.
Каждая строка должна соответствовать структуре, определенной столбцами.
SQL позволяет манипулировать данными с помощью запросов, используя операторы SELECT, INSERT, UPDATE, DELETE и другие.

Основные типы SQL-операций:

SQL-операции обычно разделяют на несколько категорий:

DQL (Data Query Language) — Язык запросов данных:

In [ ]:
%%sql
SELECT * FROM products LIMIT 10 OFFSET 20; # выбирает 10 товаров, начиная с 21
SELECT DISTINCT category From products; # выбирает только уникальные значения категорий
SELECT: Используется для выборки данных из одной или нескольких таблиц.

SELECT column1, column2 FROM table_name WHERE condition;
column1, column2: Список столбцов, которые вы хотите выбрать. * для выбора всех столбцов.
table_name: Имя таблицы, из которой вы хотите выбрать данные.
WHERE condition: Необязательное условие для фильтрации данных.
FROM: Указывает, из какой таблицы или таблиц нужно выбрать данные.
WHERE: Фильтрует строки, которые должны быть возвращены на основе заданного условия.
ORDER BY: Сортирует результаты по одному или нескольким столбцам.

SELECT * FROM products ORDER BY price DESC; -- Сортирует по убыванию цены
SELECT * FROM products ORDER BY name ASC; -- Сортирует по возрастанию имени

GROUP BY: Группирует строки с одинаковыми значениями в указанном столбце(ах).

SELECT category, COUNT(*) FROM products GROUP BY category; -- Считает количество товаров в каждой категории

HAVING: Фильтрует группы, созданные с помощью GROUP BY, на основе заданного условия.
SELECT category, COUNT(*) FROM products GROUP BY category HAVING COUNT(*) > 5; --  Выбирает категории с более чем 5 товарами

JOIN: Позволяет объединять данные из двух или более таблиц на основе связанных столбцов.
SELECT orders.order_id, customers.customer_name
FROM orders
INNER JOIN customers ON orders.customer_id = customers.customer_id;
INNER JOIN: Возвращает только строки, у которых есть совпадения в обеих таблицах.
LEFT JOIN: Возвращает все строки из левой таблицы и совпадения из правой.
RIGHT JOIN: Возвращает все строки из правой таблицы и совпадения из левой.
FULL JOIN: Возвращает все строки, если есть совпадения в одной из таблиц.

LIMIT: Ограничивает количество строк, возвращаемых запросом.
SELECT * FROM products LIMIT 10; -- Выбирает первые 10 товаров
OFFSET: Пропускает определенное количество строк перед тем, как вернуть данные.
DISTINCT: Возвращает только уникальные значения из указанного столбца(ов).

DML (Data Manipulation Language) — Язык манипулирования данными:

INSERT: Используется для добавления новых строк в таблицу.
INSERT INTO table_name (column1, column2) VALUES (value1, value2);
UPDATE: Используется для изменения существующих данных в таблице.
UPDATE table_name SET column1 = value1 WHERE condition;
DELETE: Используется для удаления строк из таблицы.
DELETE FROM table_name WHERE condition;

DDL (Data Definition Language) — Язык определения данных:

CREATE: Используется для создания объектов базы данных, таких как таблицы, индексы, представления и т.д.

CREATE TABLE: Создание таблицы.
CREATE TABLE users (
    user_id INT PRIMARY KEY,
    username VARCHAR(50),
    email VARCHAR(100)
);

CREATE INDEX: Создание индекса.
CREATE INDEX idx_username ON users(username);
CREATE DATABASE: Создание базы данных.
CREATE DATABASE mydatabase;
ALTER: Используется для изменения структуры объектов базы данных.
ALTER TABLE: Изменение таблицы, например добавление или удаление столбца.
ALTER TABLE users ADD COLUMN first_name VARCHAR(50);
ALTER TABLE users DROP COLUMN last_name;
DROP: Используется для удаления объектов базы данных, таких как таблицы, индексы, представления и т.д.
DROP TABLE: Удаление таблицы.
DROP TABLE users;
DROP DATABASE: Удаление базы данных.
DROP DATABASE mydatabase;
TRUNCATE: Используется для удаления всех данных из таблицы, но не удаляет саму таблицу.
TRUNCATE TABLE users;